@using cnrl.Helpers
@model cnrl.plantillaEmail

@{
    Layout = null;
}

<!DOCTYPE html>

@Html.Hidden("Titulo", "Eliminar Plantilla de Correo")
@Html.Hidden("Subtitulo", "")

<div class="row">
    <div class="col-md-12">

        @using (Ajax.BeginForm("Delete", "Mail", FormMethod.Post,
                                        new AjaxOptions
                                        {
                                            OnSuccess = "AjaxOk",
                                            HttpMethod = "POST"
                                        }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.codigo)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="box box-solid box-success">
                <div class="box-header">
                    <h6 class="box-title" style="font-size: 1.5em;">¿Desea eliminar la Plantilla de Correo?</h6>
                </div>

                <div class="box-body">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span>@Strings.ErrorMensajeGenerico</span>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-error">@ViewBag.ErrorMessage</div>
                    }

                    <div align="left" style="font-size:13pt">
                        <dl class="dl-horizontal">
                            <div>
                                <dd>
                                    <label>Descripción:</label>
                                    @Html.DisplayFor(model => model.descripcion)
                                </dd>
                                <dd>
                                    <label>Asunto:</label>
                                    @Html.DisplayFor(model => model.asunto)
                                </dd>
                                <dd>
                                    <label>Cuerpo:</label>
                                    @Html.Raw(HttpUtility.HtmlDecode(Model.cuerpo))
                                </dd>
                            </div>
                        </dl>
                    </div>

                </div>

            </div>

            @* Botones *@
            <div class="form-group">
                <div class="pull-right">
                    <input type="submit" value="Eliminar" class="btn btn-flat btn-success" />
                </div>
                <div class="pull-left">
                    <div class="btn btn-flat btn-default">
                        @Html.ActionLink("Cerrar", "Index")
                    </div>
                </div>
            </div>
        }
    </div>
</div>