@model IEnumerable<cnrl.cursa>

@{
    ViewBag.Titulo = "Cursadas Vencidas";
    ViewBag.Subtitulo = Strings.TituloAdmin;

    var sedes = (SelectList)ViewBag.sedes;
    var cursos = (SelectList)ViewBag.cursos;
    var periodosLectivos = (SelectList)ViewBag.periodosLectivos;
    var estados = (SelectList)ViewBag.estados;
    var TiposCurso = (SelectList)ViewBag.TiposCurso;
    var ofertas = (SelectList)ViewBag.OfertasFiltro;
}

<script>
    function OnBeginCallback(s, e) {
        e.customArgs["IdSede"] = $('#IdSede').val();
        e.customArgs["IdCurso"] = $('#IdCurso').val();
        e.customArgs["IdUsuario"] = $('#IdUsuario').val();
        e.customArgs["IdPeriodo"] = $('#IdPeriodo').val();
        e.customArgs["IdOferta"] = $('#IdOferta').val();
        e.customArgs["Estado"] = $('#Estado').val();
        e.customArgs["IdTipoCurso"] = $('#IdTipoCurso').val();
        e.customArgs["diasVencido"] = $('#diasVencido').val();
        diasVencido
    }


</script>

<form action="@Url.Action("ExportarVencidas")" method="POST" name="frmExportar" id="frmExportar">
    <div class="box box-default filtros">
        <div class="box-body filtros">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="IdUsuario">@Strings.ColAlumno</label>
                    <div id="IdUsuario" name="IdUsuario" style="width: 100%"></div>
                    <input type="hidden" id="hiddenUsuario" name="hiddenUsuario" value="" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="IdTipoCurso">@Strings.ColTipoCurso</label>
                    @Html.DropDownList("IdTipoCurso", TiposCurso, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="IdCurso">@Strings.ColCurso</label>
                    @Html.DropDownList("IdCurso", cursos, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="IdSede">@Strings.ColSede</label>
                    @Html.DropDownList("IdSede", sedes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="IdPeriodo">@Strings.ColPeriodo</label>
                    @Html.DropDownList("IdPeriodo", periodosLectivos, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="IdOferta">@Strings.ColOferta</label>
                    @Html.DropDownList("IdOferta", ofertas, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="Estado">@Strings.ColEstado</label>
                    @Html.DropDownList("Estado", estados, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="diasVencido">Dias desde el vencimiento</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar-check-o"></i>
                        </div>
                        @Html.Editor("diasVencido", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "1", @placeholder = "Dias desde el Vencimiento" } })
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <button type="button" class="btn btn-success" onclick="javascript:refrescar();">Filtrar</button>

                </div>
            </div>
            <div class="col-sm-1">
                @*<div class="pull-left">
                    <button type="button" class="btn" onclick="javascript:filtroCompleto();"><i class="fa fa-filter"></i></button>
                </div>*@
                <div class="pull-right">
                    <button type="button" class="btn" onclick="javascript:resetFiltros();"><i class="fa fa-trash"></i></button>
                </div>
            </div>
            <hr />
            @*<div id="filtroCompleto" style="display:none">
                <div class="col-md-2"><div class="form-group"><label> Importe 1er vto desde </label><div class="input-group"> <div class="input-group-addon"> <i class="fa fa-dollar"></i> </div> @Html.Editor("ImporteDesde", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @placeholder = "Importe desde" } }) </div></div> </div>
                <div class="col-md-2"><div class="form-group"><label> Importe 1er vto hasta </label><div class="input-group"> <div class="input-group-addon"> <i class="fa fa-dollar"></i> </div> @Html.Editor("ImporteHasta", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @placeholder = "Importe hasta" } })</div></div></div>
                <div class="col-md-2"><div class="form-group"><label> Importe 2do vto desde </label><div class="input-group"><div class="input-group-addon"><i class="fa fa-dollar"></i></div>@Html.Editor("Importe2Desde", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @placeholder = "Importe 2 desde" } })</div></div></div>
                <div class="col-md-2"><div class="form-group"><label> Importe 2do vto hasta </label><div class="input-group"><div class="input-group-addon"><i class="fa fa-dollar"></i></div>@Html.Editor("Importe2Hasta", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @placeholder = "Importe 2 hasta" } })</div></div></div>
                <div class="col-md-2"><div class="form-group"><label> Nro cuota desde 		</label><div class="input-group"> <div class="input-group-addon"> <i class="fa fa-dollar"></i> </div> @Html.Editor("NroCuotaDesde", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @step = "1", @placeholder = "Nro cuota desde" } }) </div></div> </div>
                <div class="col-md-2"><div class="form-group"><label> Nro cuota hasta 		</label><div class="input-group"> <div class="input-group-addon"> <i class="fa fa-dollar"></i> </div> @Html.Editor("NroCuotaHasta", new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @step = "1", @placeholder = "Nro cuota hasta" } }) </div></div> </div>


                <div class="col-md-3"><div class="form-group"><label>Fecha 1er Vto Desde</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaVtoDesde", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha 1er Vto Hasta</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaVtoHasta", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha 2do Vto Desde</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaVto2Desde", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha 2do Vto Hasta</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaVto2Hasta", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha Pago Desde</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaPagoDesde", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha Pago Hasta</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaPagoHasta", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha Baja Desde</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaBajaDesde", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>
                <div class="col-md-3"><div class="form-group"><label>Fecha Baja Hasta</label><div class="input-group"><div class="input-group-addon"><i class="fa fa-calendar"></i></div>@Html.Editor("FechaBajaHasta", new { htmlAttributes = new { @class = "form-control pull-right FechaNacimiento" } })</div></div></div>

                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-block" onclick="javascript:refrescar();">Filtrar</button>

                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row row-horizon">
        @Html.Action("PartialGridCursadasVencidas")
    </div>

</form>
<br />
<button type="button" class="btn btn-success" title="Exportar a Excel" onclick="submitExportar();">Exportar Excel</button>
@section scripts
{
    <script>
        function submitExportar()
        {
            $('#hiddenUsuario').val($('#IdUsuario').val());
            document.getElementById('frmExportar').submit();
        }

        var refresh = true;
        function resetFiltros() {
            refresh = false;
            $('#IdSede').select2("val", "-1");
            $('#IdCurso').select2("val", "-1");
            $('#IdDia').select2("val", "-1");
            $('#IdPeriodo').select2("val", "-1");
            $('#IdUsuario').select2("val", "");
            $('#IdOferta').select2("val", "-1");
            $('#Estado').select2("val", "-1");
            $('#IdTipoCurso').select2("val", "-1");
            $('#diasVencido').val(10);
            
            refresh = true;
            refrescar();
        }
        // Refrescar Grilla
        function refrescar() {
            if (refresh === true) {
                window.Grid.PerformCallback();
            }
        }
        $(function () {
            $('#IdSede').change(function () { CargarComboCursos();CargarComboOfertas();; });
            $('#IdCurso').change(function () { CargarComboOfertas();});
            $('#IdPeriodo').change(function () { CargarComboCursos();CargarComboOfertas(); });
            $('#IdUsuario').change(function () { CargarComboCursos();CargarComboOfertas(); });
            $('#IdOferta').change(function () { });
            $('#Estado').change(function () {  });
            $('#IdTipoCurso').change(function () { CargarComboCursos();CargarComboOfertas(); });
            $('#diasVencido').val(10);

            $("#IdSede").select2({
                allowClear: true
            });
            $("#IdTipoCurso").select2({
                allowClear: true
            });
            $("#IdConcepto").select2({
                allowClear: true
            });
            $("#IdCurso").select2({
                allowClear: true
            });
            $("#IdDia").select2({
                allowClear: true
            });
            $("#IdPeriodo").select2({
                allowClear: true
            });
            $("#IdUsuario").select2({
                placeholder: "Ingresa Nombre o documento...",
                language: "es",
                allowClear: true,
                minimumInputLength: 4,
                ajax: {
                    cache: true,
                    dataType: "json",
                    type: "GET",
                    quietMillis: 500,
                    delay: 100,
                    url: "@Url.Action("Buscar", "Usuarios")",
                data: function (searchTerm) {
                    return { q: searchTerm };
                },
                processResults: function (data /*, page*/) {
                    return {
                        results: data
                    };
                }
            }
            });
            $("#IdOferta").select2({
                allowClear: true
            });
            $("#Estado").select2({
                allowClear: true
            });

            @{string idUsuario = ViewBag.IdUsuario;
                if (!string.IsNullOrEmpty(idUsuario))
                {
                    <text>
            $("#IdUsuario").select2('data', { id: '@idUsuario', text: '@ViewBag.NombreUsuario' });
            //$('#IdUsuario').select2("val", '@idUsuario').trigger('change.select2');;//.trigger('change');
                    //  refrescar();
                    </text>
                }
            }
        });

        function CargarComboCursos() {
            var combo = $("#IdCurso");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            var URLactual = window.location.pathname;
            if (URLactual.search('nuevositio') != -1) {
                $.ajax({
                    type: "post",
                    url: "/nuevositio/Cursos/GetCursos",
                    data: {
                        IdSede: $('#IdSede').val(),
                        IdPeriodo: $('#IdPeriodo').val(),
                        IdUsuario: $('#IdUsuario').val(),
                        IdTipoCurso: $('#IdTipoCurso').val(),
                        IdConcepto: $('#IdConcepto').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        combo.html('');
                        $.each(data, function (id, option) {
                            combo.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                        statesProgress.hide();
                    }
                });
            }
            else
            {
                $.ajax({
                    type: "post",
                    url: "/Cursos/GetCursos",
                    data: {
                        IdSede: $('#IdSede').val(),
                        IdPeriodo: $('#IdPeriodo').val(),
                        IdUsuario: $('#IdUsuario').val(),
                        IdTipoCurso: $('#IdTipoCurso').val(),
                        IdConcepto: $('#IdConcepto').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        combo.html('');
                        $.each(data, function (id, option) {
                            combo.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                        statesProgress.hide();
                    }
                });
            }
        }

        function CargarComboOfertas(){
            var combo = $("#IdOferta");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
            var URLactual = window.location.pathname;
            if (URLactual.search('nuevositio') != -1) {
                $.ajax({
                    type: "post",
                    url: "/nuevositio/oferta/GetOfertas",
                    data: {
                        IdSede: $('#IdSede').val(),
                        IdPeriodo: $('#IdPeriodo').val(),
                        IdUsuario: $('#IdUsuario').val(),
                        IdCurso: $('#IdCurso').val(),
                        IdTipoCurso: $('#IdTipoCurso').val(),
                        IdConcepto: $('#IdConcepto').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        combo.html('');
                        $.each(data, function (id, option) {
                            combo.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                        statesProgress.hide();
                    }
                });
            }
            else
            {
                $.ajax({
                    type: "post",
                    url: "/oferta/GetOfertas",
                    data: {
                        IdSede: $('#IdSede').val(),
                        IdPeriodo: $('#IdPeriodo').val(),
                        IdUsuario: $('#IdUsuario').val(),
                        IdCurso: $('#IdCurso').val(),
                        IdTipoCurso: $('#IdTipoCurso').val(),
                        IdConcepto: $('#IdConcepto').val()
                    },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        combo.html('');
                        $.each(data, function (id, option) {
                            combo.append($('<option></option>').val(option.Value).html(option.Text));
                        });
                        statesProgress.hide();
                    }
                });
            }
        }

        function filtroCompleto() {
            if ($('#VistaCompleta').val() == "true") {
                $('#VistaCompleta').val("false");
                $('#filtroCompleto').hide();
            } else {
                $('#VistaCompleta').val("true");
                $('#filtroCompleto').show();
            }

        }

        $(".FechaNacimiento").inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });

        $(".FechaNacimiento").daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            format: "DD/MM/YYYY"
        });

        $(document).ready(function () {
            $("#frmExportar").keypress(function (e) {//Para deshabilitar el uso de la tecla "Enter"
                if (e.which == 13) {
                    return false;
                }
            });
        });
    </script>
}
