@model IEnumerable<cnrl.AspNetUsers>
@using cnrl.Helpers

@{
    ViewBag.Titulo = "Cargar Notas";
    ViewBag.Subtitulo = "Administración de los Alumnos del Curso";
    Layout = "~/Views/Shared/_LayoutUnlam.cshtml";
    string InfoCurso = ViewBag.InfoCurso;
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <span>@Strings.ErrorMensajeGenerico</span>
    </div>
}
@*@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{

    string error = ViewBag.ErrorMessage;
    //error = error.Replace("\n", "< br />");



    <div class="alert alert-error">@MvcHtmlString.Create(error.Replace(Environment.NewLine, "<br />"))</div>
}*@



@if (!string.IsNullOrEmpty(ViewBag.MensajeExito))
{
    <div class="alert alert-success" id="mensaje">@ViewBag.MensajeExito</div>
}

@if (!string.IsNullOrEmpty(ViewBag.MensajeError))
{
    <div class="alert alert-danger" id="mensaje">@ViewBag.MensajeError</div>
}

<div class="box box-default">
    <div class="box-body">
        <div class="col-sm-12">
            <h4>@Html.Label(InfoCurso)</h4>
        </div>
    </div>
</div>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.Action("PartialGridCursadas", new { codOferta = ViewBag.CodOferta })

<script>

    $(document).ready(function () {
        //bootbox.alert({
        //    message: "This is the large alert!",
        //    size: 'large',
        //    closeButton: false
        //});


        var avisoCoordinador = "<h1>¡Atención!</h1>"
        + "<p>Recordar que al validar las notas de los alumnos debe tildar el casillero de todos ellos, ya que de lo contrario los cambios no seran guardados.</p>"


        @if (ViewBag.Coordinador == true)
        {
            <text>
        var dialog = bootbox.dialog({
            title: 'Informacion',
            size: 'large',
            class: "class-paddint-top-100",
            closeButton: false,
            message: avisoCoordinador,
            buttons: {
                ok: {
                    label: "Aceptar",
                    className: 'btn-success'
                    @*callback: function () {
                         $(location).attr('href', '@Url.Action("cuotasalumno", "Deuda")');
                     }*@

                }
            }
        });
        </text>
        }

    });


</script>